body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 100px  ;
    height: 125vh;
    background-color: #f3f4f6;
  
  }
header{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    margin-left: -100px;
    width: 100%;
    
}
  .Ticket {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 85%;
    align-self: center;
  }
  .TicketTable{
    color: white;
    background-color: black;
    font-size: large;
  }
  #D{
    padding-left: 300px;
  }
  .trash{
    width: 40px;
    height: 30px;
  }
  #select{
    display: inline;
    justify-content: center;
    height: 30px;
  }
  #submit{
    width: 70px;
    height: 30px;
    margin-top: 10px;
  }
  .icon{
    float: right;
    margin-right: 7rem;
    width: 100%;
    background-color: white; 
    height: 70px;  
    display: flex;
    justify-content: right;
    gap: 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    /* border: solid; */
    border-radius: 100px;
    
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tfoot {
    font-weight: bold;
  }
  
  .total-label {
    text-align: right;
  }
  
  .total-amount {
    color: #e44d26; /* orange color for total amount */
  }
  
  h1 {
    text-align: center;
    color: #333;
  }

.bell{
    border: none;
    background-color: white;
    /* float: right; */
    /* margin-right: 7rem; */
}
.ava{
  align-self: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,a {
  list-style-type: none;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 250px calc(100% - 250px);
}

#logo {
  border-bottom: 1px solid gray;
}

.menu {
  width: 250px;
  height: 100%;
  background-color: rgb(17, 24, 40);
  clear: both;
}

.menu li a {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  font-size: 17px;
  padding-left: 10px;
}

.menu ul li {
  padding: 20px 20px;
  display: block;
  cursor: pointer;
  transition: all 0.3s;
}

.menu ul li:hover a {
  color: white;
}

.menu ul li:hover {
  border-left: 5px solid white;
}

.menu ul li:hover svg {
  fill: white;
}

#logo img {
  width: 200px;
}

